 <% 
 
 @today = Time.zone.now
 @one_month_ago = @today - 1.month
 
 @sessions = UserSession.where(created_at: @one_month_ago.beginning_of_day..@today.end_of_day).group_by(&:group_by_criteria).map { |k,v| [k, v.length] }.sort

 labels = []
 values = []
 
 @sessions.each do |item|
   labels << { label: item[0] }
   values << { value: item[1] }
 end
 
 @chart = Fusioncharts::Chart.new({
            height: '400',
            width: '100%',
            type: 'msline',
            renderAt: 'sessions-chart-container',
            dataSource: {
              chart: {
                         caption: '近一个月用户使用统计',
                         subCaption: '',
                         linethickness: "2",
                         numberPrefix: "",
                         showvalues: "0",
                         formatnumberscale: "1",
                         labeldisplay: "ROTATE",
                         slantlabels: "1",
                         divLineAlpha: "40",
                         anchoralpha: "0",
                         animation: "1",
                         legendborderalpha: "20",
                         drawCrossLine: "1",
                         crossLineColor: "#0d0d0d",
                         crossLineAlpha: "100",
                         tooltipGrayOutColor: "#80bfff",
                         theme: "zune"
                       },
                       categories: [{
                         category: labels
                       }],
                       dataset: [{
                         data: values
                       }],
            }.as_json
          })
  %>           

<div id="sessions-chart-container"><%= @chart.render() %></div>